<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

  <app-admin-sidebar></app-admin-sidebar>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <app-admin-topbar></app-admin-topbar>

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <form #f="ngForm">
          <div class="form-group">
            <label for="flightNumber" class="font-weight-bold">Flight Number</label>
            <input id="flightNumber"
                   name="flightNumber"
                   type="text"
                   class="form-control"
                   placeholder="Flight Number"
                   ngModel
                   required
                   #flightNumber="ngModel">
          </div> <!-- form-group// -->
          <!--operating air line-->
          <div class="row align-items-center mt-4">
            <div class="col">
              <label for="operatingAirlineCode" class="font-weight-bold">Operating Airline Code</label>
              <input id="operatingAirlineCode"
                     type="text"
                     class="form-control"
                     name="operatingAirlineCode"
                     placeholder="Operating Airline Code"
                     ngModel
                     required
                     #operatingAirlineCode=ngModel>
            </div>
            <div class="col">
              <label for="operatingAirlineName" class="font-weight-bold">Operating AirLine Name</label>
              <input id="operatingAirlineName"
                     type="text"
                     class="form-control"
                     name="operatingAirlineName"
                     placeholder="Operating Airline Name"
                     ngModel
                     required
                     #operatingAirLineName=ngModel>
            </div>
          </div>
          <!--end operating airline-->
          <!--marketing airline-->
          <div class="row align-items-center mt-4">
            <div class="col">
              <label for="marketingAirlineCode" class="font-weight-bold">Marketing Airline Code</label>
              <input id="marketingAirlineCode"
                     type="text"
                     class="form-control"
                     name="marketingAirlineCode"
                     placeholder="Marketing Airline Code"
                     ngModel
                     required
                     #marketingAirlineCode=ngModel>
            </div>
            <div class="col">
              <label for="marketingAirLineName" class="font-weight-bold">Marketing AirLine Name</label>
              <input id="marketingAirLineName"
                     type="text"
                     class="form-control"
                     name="marketingAirlineName"
                     placeholder="Marketing Airline Name"
                     ngModel
                     required
                     #marketingAirLineName=ngModel>
            </div>
          </div>
          <!--end marketing airline-->

          <!--status, origin and destination-->
          <div class="row align-items-center mt-4">
            <div class="col-12 col-sm-4 col-md-4">
              <label for="flightStatus" class="font-weight-bold">Status</label>
              <div id="flightStatus">
                <select class="form-control"
                        name="flightStatus"
                        required
                        ngModel
                        #flightStatus="ngModel">
                  <option value="On time">On time</option>
                  <option value="Delayed">Delayed</option>
                  <option value="Cancelled">Cancelled</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
              <label for="origin" class="font-weight-bold">Origin</label>
              <input id="origin"
                     type="text"
                     class="form-control"
                     placeholder="Origin"
                     name="origin"
                     ngModel
                     required
                     #origin=ngModel>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
              <label for="destination" class="font-weight-bold">Destination</label>
              <input id="destination"
                     type="text"
                     class="form-control"
                     placeholder="Destination"
                     name="destination"
                     ngModel
                     required
                     #destination=ngModel>
            </div>

          </div>
          <!-- end status, origin and destination-->
          <!--departure and arrival-->
          <div class="row align-items-center mt-4">
            <div class="col">
              <label for="departureTime" class="font-weight-bold">Departure Time (Local)</label>
              <div>
                <input id="departureTime"
                       type="datetime-local"
                       class="form-control"
                       name="scheduledDepartureTime"
                      ngModel
                      required>
              </div>
            </div>

          </div>
          <div class="row align-items-center mt-4">
            <div class="col">
              <label for="arrivalTime" class="font-weight-bold">Arrival Time (Local)</label>
              <div>
                <input id="arrivalTime"
                        type="datetime-local"
                       class="form-control"
                       name="scheduledArrivalTime"
                      ngModel
                      required>
              </div>
            </div>
          </div>
          <!--end of departure and arrival-->
          <!--distance and duration, arrival day indicator-->
          <div class="row align-items-center mt-4">
            <div class="col-12 col-sm-4 col-md-4">
              <label for="arrivalDayIndicator" class="font-weight-bold">Arrival Day</label>
              <div id="arrivalDayIndicator">
                <select class="form-control"
                        name="arrivalDayIndicator"
                        required
                        ngModel
                        #arrivalDayIndicator="ngModel">
                  <option value="N">Next Day</option>
                  <option value="P">Previous Day</option>
                  <option value="S">Same Day</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
              <label for="distance" class="font-weight-bold">Distance (in miles)</label>
              <input id="distance"
                     type="number"
                     min="0"
                     class="form-control"
                     placeholder="Distance"
                     name="distance"
                     ngModel
                     required
                     #distance=ngModel>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
              <label for="duration" class="font-weight-bold">Duration</label>
              <input id="duration"
                     type="text"
                     class="form-control"
                     placeholder="2h53m"
                     name="duration"
                     ngModel
                     required
                     #duration=ngModel>
            </div>

          </div>
          <button class="btn btn-success btn-block mt-4" (click)="saveFlight()">Create New Flight</button>
        </form>


      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <app-admin-footer></app-admin-footer>

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<app-admin-logout></app-admin-logout>

</body>


<!--main body-->
<div class="container-fluid pt-2">

</div>

