<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

  <app-admin-sidebar></app-admin-sidebar>

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <app-admin-topbar></app-admin-topbar>

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!--begin form-->
        <form #f="ngForm">
          <div class="row align-items-center mt-4">
            <div class="col">
              <label for="role" class="font-weight-bold">Role</label>
              <div id="role">
                <select class="form-control"
                        name="role"
                        required
                        [(ngModel)]="user.role"
                        #role="ngModel">
                  <option value="Admin">Admin</option>
                  <option value="User">User</option>
                </select>
              </div>
            </div>
          </div>
          <!--basic info-->
          <!--name-->
          <div class="row align-items-center mt-4">
            <div class="col">
              <label for="firstName" class="font-weight-bold">First Name</label>
              <input id="firstName"
                      type="text"
                     name="firstName"
                     class="form-control"
                     placeholder="First Name"
                     [(ngModel)]="user.firstName"
                     required
                     #firstName="ngModel">
            </div>
            <div class="col">
              <label for="middleName" class="font-weight-bold">Middle Name</label>
              <input id="middleName"
                      type="text"
                     name="middleName"
                     class="form-control"
                     placeholder="Middle Name"
                     [(ngModel)]="user.middleName"
                     #middleName="ngModel">
            </div>
            <div class="col">
              <label for="lastName" class="font-weight-bold">Last Name</label>
              <input id="lastName"
                     name="lastName"
                     class="form-control"
                     placeholder="Last Name"
                     [(ngModel)]="user.lastName"
                     required
                     #lastName="ngModel">
            </div>

          </div>
          <!--gender and date of birth-->
          <div class="row align-items-center mt-4">
            <div class="col-12 col-sm-4 col-md-4">
              <label for="genderId" class="font-weight-bold">Gender</label>
              <div id="genderId">
                <select class="form-control"
                        name="gender"
                        required
                        [(ngModel)]="user.gender"
                        #gender="ngModel">
                  <option value="M">Male</option>
                  <option value="F">Female</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
              <label for="dob" class="font-weight-bold">Date of birth</label>
              <input id="dob"
                    type="text"
                     class="form-control"
                     placeholder="Date Of Birth"
                     name="dateOfBirth"
                     [(ngModel)]="user.dateOfBirth"
                     required
                     #dateOfBirth=ngModel>
            </div>
            <div class="col-12 col-sm-4 col-md-4">
              <label for="countryPicker" class="font-weight-bold">Country/Region</label>
              <div id="countryPicker">
                <select class="form-control"
                        name="country"
                        required
                        [(ngModel)]="user.countryRegion"
                        #country="ngModel">
                  <option value="US">United States</option>
                  <option value="CN">China</option>
                </select>
              </div>
            </div>

          </div>

          <div class="row align-items-center mt-4">
            <div class="col">
              <label for="address" class="font-weight-bold">Address</label>
              <input id="address"
                      type="text"
                     class="form-control"
                     placeholder="Address"
                     name="address"
                     [(ngModel)]="user.address"
                     required
                     #address=ngModel>
            </div>
          </div>
          <div class="row align-items-center mt-4">
            <div class="col">
              <label for="city" class="font-weight-bold">City</label>
              <input id="city"
                     type="text"
                     class="form-control"
                     name="city"
                     placeholder="City"
                     [(ngModel)]="user.city"
                     required
                     #city=ngModel>
            </div>
            <div class="col">
              <label for="state" class="font-weight-bold">State</label>
              <input id="state"
                      type="text"
                     class="form-control"
                     name="state"
                     placeholder="State/Province"
                     [(ngModel)]="user.stateOrProvince"
                     required
                     #state=ngModel>
            </div>
            <div class="col">
              <label for="zipCode" class="font-weight-bold">Zip Code</label>
              <input id="zipCode"
                      type="text"
                     class="form-control"
                     name="zipCode"
                     placeholder="Zip Code"
                     [(ngModel)]="user.postalCode"
                     required
                     #zipCode=ngModel>
            </div>
          </div>

          <div class="row align-items-center mt-4 mb-4">
            <div class="col">
              <label for="email" class="font-weight-bold">Email</label>
              <input id="email"
                      type="email"
                     class="form-control"
                     placeholder="Email"
                     name="email"
                     [(ngModel)]="user.email"
                     required
                     #email=ngModel>
            </div>
            <div class="col">
              <label for="phone" class="font-weight-bold">Phone</label>
              <input id="phone"
                      type="text"
                     class="form-control"
                     placeholder="Phone Number"
                     name="phoneNumber"
                     [(ngModel)]="user.phone"
                     required
                     #phoneNumber=ngModel>
            </div>
          </div>
          <button class="btn btn-warning btn-block" (click)="updateUser()">Update User</button>
        </form>
        <!--end form-->

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <app-admin-footer></app-admin-footer>

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<app-admin-logout></app-admin-logout>

</body>


<!--main body-->
<div class="container-fluid pt-2">

</div>



