<footer class="fdb-block footer-large bg-dark" data-block-type="footers" data-id="8">
  <div class="container">
    <div class="row align-items-top text-center text-md-left">
      <div class="col-12 col-sm-6 col-md-3" style="z-index: 10000;"><h3><strong>关于菊航</strong></h3>
        <p>关于我们</p>
        <p>职业发展</p>
        <p>菊航新闻</p>

      </div>

      <div class="col-12 col-sm-6 col-md-3" style="z-index: 10000;"><h3><strong>联系我们</strong></h3>
        <p>还有啥呢</p>
        <p>随便写点</p>
        <p>emmm</p>

      </div>

      <div class="col-12 col-sm-6 col-md-3" style="z-index: 10000;"><h3><strong>特色服务</strong></h3>
        <p>机上娱乐</p>
        <p>ssssuper vip休息室</p>
        <p>再想点啥</p>
      </div>

      <div class="col-12 col-sm-6 col-md-3" style="z-index: 10000;"><h3><strong>关注我们</strong>
      </h3>
        <p>blah blah blah</p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col text-center fr-box" role="application" style="z-index: 10000;">
        <div class="fr-wrapper" dir="auto">
          <div class="fr-element fr-view" dir="auto" contenteditable="true" aria-disabled="false"
               spellcheck="true"><p>© 2019 菊花航空 All Rights Reserved</p></div>
        </div>
      </div>
    </div>
  </div>
</footer>
