<!--<header class="bg-dark" data-block-type="headers" data-id="11">-->
  <!--<div class="container">-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        <img src="https://cdn.jsdelivr.net/gh/froala/design-blocks@2.0.1/dist/imgs//logo.png" height="30"
             alt="image">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav13"
              aria-controls="navbarNav13" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav13">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link fr-view" href="/"
               style="outline: none; display: inline-block;">首页 <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link fr-view" routerLink="/find-flights"
               style="outline: none; display: inline-block;">预定</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fr-view" href="https://www.froala.com"
               style="outline: none; display: inline-block;">值机</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fr-view" href="https://www.froala.com"
               style="outline: none; display: inline-block;">我的旅程</a>
          </li>
        </ul>

        <ul class="navbar-nav justify-content-end ml-auto">
          <li class="nav-item">
            <a class="nav-link fr-view" href="https://www.froala.com"
               style="outline: none; display: inline-block;">与您同行</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fr-view" href="https://www.froala.com"
               style="outline: none; display: inline-block;">高端黑会员</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin()">Admin</a>
          </li>
        </ul>
        <a class="btn btn-light ml-md-3 fr-view" routerLink="/login" *ngIf="!isLoggedIn()"
           style="outline: none; display: inline-block;">登陆</a>
        <a class="btn btn-light ml-md-3 fr-view" routerLink="/register" *ngIf="!isLoggedIn()"
           style="outline: none; display: inline-block;">注册</a>
        <button class="btn btn-danger" *ngIf="isLoggedIn()" (click)="logout()" type="button">登出
        </button>
        <!--<a class="btn btn-light ml-md-3 fr-view" *ngIf="isLoggedIn" (click)="logout()"-->
           <!--style="outline: none; display: inline-block;">登出</a>-->
      </div>
    </nav>
  <!--</div>-->
<!--</header>-->
