<app-headerbar></app-headerbar>
<section class="fdb-block fp-active" data-block-type="contents" data-id="5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-10 col-sm-6 col-md-5 col-lg-4 m-auto pb-5 pb-md-0" style="z-index: 10000;">
        <p>
          <img alt="image" class="img-fluid rounded-0"
               src="https://cdn.jsdelivr.net/gh/froala/design-blocks@2.0.1/dist/imgs//draws/iphone-hand.svg">
        </p>
      </div>

      <div class="col-12 ml-md-auto col-md-7 col-lg-6 pb-5 pb-md-0" style="z-index: 10000;">
        <p>
          <img alt="image"
               class="fdb-icon"
               src="https://cdn.jsdelivr.net/gh/froala/design-blocks@2.0.1/dist/imgs//icons/gift.svg">
        </p>
        <h1>「高端黑」</h1>
        <p class="lead">菊航高端黑里程俱乐部将在 2018 年焕新出发。</p>
        <p class="lead">兑换奖励机票低至 5,000 里数起。</p>
        <div class="align-items-center">
          <p class="mt-4">
            <a class="btn btn-secondary" href="https://www.froala.com">即刻申请</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="fdb-block" data-block-type="contents" data-id="10">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6 col-lg-3" style="z-index: 10000;">
        <p><img alt="image" class="img-fluid"
                src="https://d1ic4altzx8ueg.cloudfront.net/credit-cards/wp-uploads/amex-centurion.png">
        </p>
      </div>

      <div class="col-6 col-lg-3" style="z-index: 10000;">
        <p>
          <img alt="image" class="img-fluid"
               src="https://d1ic4altzx8ueg.cloudfront.net/credit-cards/wp-uploads/amex-centurion.png">
        </p>
      </div>

      <div class="col-12 col-lg-6 pt-3" style="z-index: 10000;">
        <p class="lead text-left">菊航「高端黑」里程俱乐部（Premium Black Mileage Club) 推出全新卡面设计，更高端质感带给
          贵宾会员更高级体验。加入菊航「高端黑」里程俱乐部，环游世界，赚取里程，兑换奖励，享受专属礼遇，助您人生体验更上一层。
        </p>
        <p class="lead text-left"><a href="https://www.froala.com">[了解更多]</a></p></div>
    </div>
  </div>
</section>
<section class="fdb-block" data-block-type="features" data-id="6">
  <div class="container">

    <div class="row text-left align-items-center pt-5 pb-md-5">
      <div class="col-4 col-md-5" style="z-index: 10000;">
        <p>
          <img alt="image" class="img-fluid"
               src="https://cdn.jsdelivr.net/gh/froala/design-blocks@2.0.1/dist/imgs//draws/designer.svg">
        </p>
      </div>

      <div class="col-12 col-md-5 m-md-auto" style="z-index: 10000;"><h2><strong>Feature One</strong></h2>
        <p class="lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
          there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
          Semantics, a large language ocean.</p>
        <p><a href="https://www.froala.com">Learn More <!-- <i class="fas fa-angle-right"></i> --></a></p></div>
    </div>

    <div class="row text-left align-items-center pt-5 pb-md-5">
      <div class="col-4 col-md-5 m-md-auto order-md-5" style="z-index: 10000;">
        <p>
          <img alt="image"
               class="img-fluid"
               src="https://cdn.jsdelivr.net/gh/froala/design-blocks@2.0.1/dist/imgs//draws/design-life.svg">
        </p></div>

      <div class="col-12 col-md-5" style="z-index: 10000;"><h2><strong>Feature Two</strong></h2>
        <p class="lead">Even the all-powerful Pointing has no control about the blind texts it is an almost
          unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to
          leave for the far World of Grammar.</p>
        <p><a href="https://www.froala.com">Learn More <!-- <i class="fas fa-angle-right"></i> --></a></p></div>
    </div>

    <div class="row text-left align-items-center pt-5">
      <div class="col-4 col-md-5" style="z-index: 10000;">
        <p><img alt="image" class="img-fluid"
                src="https://cdn.jsdelivr.net/gh/froala/design-blocks@2.0.1/dist/imgs//draws/design-community.svg">
        </p>
      </div>

      <div class="col-12 col-md-5 m-md-auto" style="z-index: 10000;"><h2><strong>Feature Three</strong></h2>
        <p class="lead">On her way she met a copy. The copy warned the Little Blind Text, that where it came
          from it would have been rewritten a thousand times and everything that was left from its origin
          would be the word "and" and the Little Blind Text should turn around.</p>
        <p><a href="https://www.froala.com">Learn More <!-- <i class="fas fa-angle-right"></i> --></a></p></div>
    </div>
  </div>
</section>
<section class="fdb-block" data-block-type="features" data-id="9">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-left" style="z-index: 10000;"><h1>Froala Design Blocks</h1>
        <p class="lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
          there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
          Semantics, a large language ocean.</p></div>
    </div>

    <div class="row text-left mt-5">
      <div class="col-12 col-sm-8 col-md-4 col-lg-3 m-sm-auto mr-md-auto ml-md-0" style="z-index: 10000;"><p><img
              alt="image" class="img-fluid rounded"
              src="https://cdn.jsdelivr.net/gh/froala/design-blocks@2.0.1/dist/imgs//hero/blue.svg"></p>
        <h3><strong>Feature One</strong></h3>
        <p>Far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in
          Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p></div>

      <div class="col-12 col-sm-8 col-md-4 col-lg-3 m-sm-auto pt-5 pt-md-0" style="z-index: 10000;"><p><img
              alt="image" class="img-fluid rounded"
              src="https://cdn.jsdelivr.net/gh/froala/design-blocks@2.0.1/dist/imgs//hero/red.svg"></p>
        <h3><strong>Feature Two</strong></h3>
        <p>It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the
          all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.</p>
      </div>

      <div class="col-12 col-sm-8 col-md-4 col-lg-3 m-sm-auto ml-md-auto mr-md-0 pt-5 pt-md-0"
           style="z-index: 10000;"><p><img alt="image" class="img-fluid rounded"
                                           src="https://cdn.jsdelivr.net/gh/froala/design-blocks@2.0.1/dist/imgs//hero/yellow.svg">
      </p>
        <h3><strong>Feature Three</strong></h3>
        <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question
          Marks and devious Semikoli, but the Little Blind Text didn’t listen.</p></div>
    </div>
  </div>
</section>
<section class="fdb-block" data-block-type="contents" data-id="12">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-8 text-center" style="z-index: 10000;"><h1>做菊航，我们是认真的。</h1></div>
    </div>
  </div>
</section>
<app-footbar></app-footbar>

